{% extends 'base.html' %}
{% block content %}

<br>
<br>
<br>
<br>

<div class="box">
<div  class="columns">

    <ul class="column is-3">

        <li ><a class="content is-large has-text-black" href="/forinvestors">For Investors</a></li>
        <li><a class="content is-large has-text-black" href="'">For Risk Analysis</a></li>
        <li><a class="content is-large has-text-black">For Trading Desks</a></li>
    <hr>
    
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <hr>
    </ul>

<div class="column is-half is-right">
<br>
<strong class="is-size-2"><h1>Daily market forecasts of volatility and direction</h1></strong>
<br>
<p>Founded in 2022, Finalysis challenges the conventions around how machine generated market data is shared. Our mission is to deliver powerful analysis to everyone with internet access.</p>
<br>
<strong class="is-size-4"><h2>Our Technology</h2></strong>
<br>
<p>Finalysis provides what was previously thought impossible - daily market forecasts of volatility and direction inside a graph of market correlations.
Developed by IBM Watson Alumni, this patent pending system uses Deep Learning and Multifractal Analysis to peek into the future with 85% accuracy.</p>
<br>
<strong class="is-size-4"><h2>Accuracy and Testing</h2></strong>
<br>
<p>{Data from Tests} – Give Proof of accuracy and test methods</p>
<br>
<strong class="is-size-4"><h2>Our Principles</h2></strong>
<br>
<p>"The most important thing is that you develop your own principles and ideally write them down, especially if you are working with others," proclaims billionaire investor Ray Dalio. At Finalysis, we did just that. Including:</p>
<br>
<div class="content">
<ol class="is-upper-roman">
    <li><strong class="has-text-weight-semibold">Honesty:</strong> Tell the truth, no matter what the consequences will be.</li>
    <li><strong class="has-text-weight-semibold">Focus:</strong> Do and prioritize what is important now.</li>
    <li><strong class="has-text-weight-semibold">Excellence:</strong> Deliver everything the best you can possibly make it.</li>
    <li><strong class="has-text-weight-semibold">Growth:</strong> Improve upon yourself and your work each and every day. </li>
    <li><strong class="has-text-weight-semibold">Perseverance:</strong> Continue until you reach the objective.</li>
    <li><strong class="has-text-weight-semibold">Assistance:</strong> Ask for and give help to others. We rise or fall as a team</li>
    <li><strong class="has-text-weight-semibold">Gratitude:</strong> Be thankful for your work, the team, and the opportunities.</li>
    <li><strong class="has-text-weight-semibold">Learning:</strong> Make each and every work day a learning experience.</li>
    <li><strong class="has-text-weight-semibold">Commitment:</strong> Deliver what you say by the required time</li>
    <li><strong class="has-text-weight-semibold">Communication:</strong> Seek to understand and to be understood</li>
  </ol>
<br>
<h2 class="is-size-4">Our Team</h2>
<br>
<p>The goal of the Finalysis Principles is to realize the vision of a highly effective team. A team that achieves results in the face of adversity on a consistent basis. So far, we have built the nearly impossible with even more remarkable achievements on the horizon.</p>
<br>
<p>We are executives from the capital markets alternative data industry and the best of data science leaders from leading global tech firms coming together to challenge the current benchmark for insight horizons.</p>
<br>
<p>
  [img] CEO / co-founder - Todd Moses
  [img] CRO / co-founder - Matt Guthrie
  [img] Founding Data Scientist - Abdulrahman Amer
  [img] VP of Sales - Dmitri Begounov
</p>
<br>
<p>Interested in joining us? See our list of <a href="https://www.linkedin.com/company/finalysis-systems-inc/jobs/">current openings.</a> </p>
</div>
</div>
</div>
</div>
</html>
{% endblock %}