{% extends 'base.html' %}
{% block content %}

<br>
<br>
<br>
<br>

<div class="box">
<div  class="columns">

    <ul class="column is-3" style="overflow:scroll;">

        <li ><a class="content is-large has-text-black" href="/forinvestors">For Investors</a></li>
        <li><a class="content is-large has-text-black" href="/forriskanalysis">For Risk Analysis</a></li>
        <li><a class="content is-large has-text-black" href="/tradingdesk">For Trading Desks</a></li>
    <hr style="border:2px solid black; border-radius: 1px; width: 70%;" >
    
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <hr style="border:2px solid black; border-radius: 1px; width: 70%;" >
    </ul>

<div class="column is-half is-right">
    <strong class="is-size-4"><h1>Contact</h1></strong>

    <p>Have a question, comment, or concern? Let us know. </p>

    <form>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Name">
        </div>
      </div>
      
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="Email@Email.com">
        </div>
    </div>
    
    <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" placeholder="Your message."></textarea>
        </div>
      </div>
      
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" style="background-color: #FF3933; color: #FFF;">Submit</button>
        </div>
      </div>
      </form>
</div>

</div>

{% endblock %}