{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class=" crop2">
  <img  src="{{ url_for('static', filename='risk.png')}}">
  <div class="top-left">
    <div class="columns is-mobile">
      <div class="column is-narrow"><h1 class="is-size-1">For Risk Analysis</h1></div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-7 is-narrow"><p class="is-size-5">Finalysis shines a light on what tomorrow will bring with next-level forecasts. Cut through the noise to learn what will happen next. We provide next-level forecasts  for better decision making.</p></div>
    </div>
  </div>
    
    
  


 </div>

  <!-- <p>THIS IS SPACE</p> -->
  <!-- <div class="columns">
    <div class="column is-5">
      <h1 class="is-size-2">For Investors</h1>
      <br>
      <p>
        Examine forecasts inside of Excel, feed Python strategies, and open additional features designed to cut through the noise and reveal what happens next
      </p>
    </div>

  </div>
  <div>
    <img  src="{{ url_for('static', filename='trader.png')}}">
  </div> -->
<!-- <p>THIS IS SPACE</p> -->

<!-- <p>THIS IS SPACE</p> -->
<div style="background-color: #181414; color: white;">
  <br>
  <br>
  <br>
  

<div class="columns">
  
  <div class="column is-1"></div>
  <div class="column is-7">
    <h2 class="is-size-3">Are You Afraid of the Dark? </h2>
  </div>
  <div class="column"></div>

  <div class="column">

    
    <div class="columns is-vcentered">
      
      
      <div class="column"><button  class="button is-link is-medium" style="background-color: #FF3933; color: #FFF">Get Started</button></div>
    </div>
 
    
  </div>
  <div class="column"></div>
</div>
<br>
<br>
</div>
<!-- <p>THIS IS SPACE</p> --> 
<br>
<br>
<!-- <p>THIS IS SPACE</p> -->
<div>
  <br>
  <br>
  <div class="columns">
    <div class="column is-1"></div>
    <div class="column is-4">
      <h3 class="is-size-4"><strong>A Giant Leap Ahead</strong></h3>
    </div>
    <div class="column"></div>
    <div class="columns is-3">
      <p>You’ve never seen signals like this before. Finalysis is unique in that the core technology has only been available to the most elite of funds. We leveled the playing field with proprietary machine learning to forecast markets on a subscription basis.</p>
    </div>
  </div>
</div>
<br>
<br>
<hr class="new">


<div>
  <br>
  <br>
  <div class="columns">
    <div class="column is-1"></div>
    <div class="column is-4">
      <h3 class="is-size-4"><strong>Better Than Human</strong></h3>
    </div>
    <div class="column"></div>
    <div class="columns is-3">
      <p>People are good at a lot of things, but discovering complex patterns is not one of them. Since 1997, computers have dominated chess. In 2017, a machine beat the world's top GO player. Entering 2023, Finalysis forecasts better than Wall Street analysts</p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>




<!-- <p>THIS IS SPACE</p> -->
<div style="background-color: black; color: white;">
<br>
<br>
<br>


<div class="columns">

<div class="column is-1"></div>
<div class="column is-5">
  <h4 class="is-size-3"> Don't Just Take Our Word For It. See It For Yourself</h2>
</div>

<div class="column is-4">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Input Name">
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div >
      <input class="input " type="email" placeholder="Email input" >


    </div>
    
  </div>
  
  <div class="field">
    <label class="label">Phone</label>
    <div >
      <input class="input" type="text" placeholder="phone number">
      
      

    </div>

  </div>

  
  <div class="field">
    <label class="label">Tell us why Finalysis interests you</label>
    <div class="control">
      <textarea class="textarea" placeholder="Type something..."></textarea>
    </div>
  </div>

  
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link is-large" style="background-color: #FF3933; color: #FFF">Submit</button>
    </div>

  </div>
</div>
<div class="column"></div>
</div>

<br>
<br>
</div>


</div>

{% endblock %}