<!DOCTYPE html>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel = "stylesheet" type="text/css" href="{{ url_for('static',filename='Css/core.css') }}">
<link rel = "stylesheet" href="{{ url_for('static',filename='Css/overpass.css') }}">

<nav class="navbar is-fixed-top is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="Static/logo.png" width="112" height="28">
    </a>
  </div>

  <div  class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/about">
        About
      </a>
      <a class="navbar-item" href="/signup">
        Sign up
        </a>
      <a class="button is-primary is-danger" href="/login">
          Log in
        </a>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<br>
<br>
<br>
<br>

<div class="box">
<div  class="columns">

    <ul class="column is-3" style="overflow:scroll;">

        <li ><a class="content is-large has-text-black" href="/forinvestors">For Investors</a></li>
        <li><a class="content is-large has-text-black" href="'">For Risk Analysis</a></li>
        <li><a class="content is-large has-text-black">For Trading Desks</a></li>
    <hr style="border:2px solid black; border-radius: 1px; width: 70%;" >
    
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <div class="columns is is-mobile is-vcentered">
      <div class="column is-3">
        <img class="image is-64x64 " src="Static/A_copy.png" alt="">
      </div>
      <div class="column is-left is-large">
        <strong><p>test[nyse]</p></strong>
      </div>
    </div>
    <hr style="border:2px solid black; border-radius: 1px; width: 70%;" >
    </ul>

</div>

<footer class="footer" style="background-color: white;">
    <div class="content is-small">
      <p class="column is-left is-one-third" style="color:rgb(199, 198, 198)">
        <strong style="color:rgb(199, 198, 198)" >Disclaimer:</strong>Finalysis is data not advice. Do not rely upon Finalysis as a substitute for an extensive independent market research before making your trading decisions.
        <br>
        <a style="color:rgb(199, 198, 198)" href="/contact" >Contact</a> | <a style="color:rgb(199, 198, 198)" href="/insights">Insights</a> | <a style="color:rgb(199, 198, 198)" href="/legal">Legal</a>
      </p>
    </div>
</footer>
  
