{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <!-- <p>THIS IS SPACE</p> -->
  <div class="columns">
    <div class="column is-5">
      <h1 class="is-size-2">For Investors</h1>
      <br>
      <p>
        Examine forecasts inside of Excel, feed Python strategies, and open additional features designed to cut through the noise and reveal what happens next
      </p>
    </div>

  </div>
  <div class="crop">
    <img  src="{{ url_for('static', filename='img.png')}}">
  </div>
<!-- <p>THIS IS SPACE</p> -->

<!-- <p>THIS IS SPACE</p> -->
  <div style="background-color: black; color: white;">
    <br>
    <br>
    <br>
    

  <div class="columns">
    
    <div class="column is-1"></div>
    <div class="column is-7">
      <h2 class="is-size-3">Unlock The Full Power Of Finalysis For Professional Investors</h2>
    </div>
    <div class="column"></div>

    <div class="column">
      <br>
      
      <div class="columns is-vcentered">
        
        
        <div class="column"><button  class="button is-link is-medium" style="background-color: #FF3933; color: #FFF">Get Started</button></div>
      </div>
   
      
    </div>
    <div class="column"></div>
  </div>
  <br>
  <br>
  </div>
<!-- <p>THIS IS SPACE</p> --> 
<br>
<br>
<!-- <p>THIS IS SPACE</p> -->
  <div>
    <br>
    <br>
    <div class="columns">
      <div class="column is-1"></div>
      <div class="column is-4">
        <h3 class="is-size-4"><strong>A Giant Leap Ahead</strong></h3>
      </div>
      <div class="column"></div>
      <div class="columns is-3">
        <p>You’ve never seen signals like this before. Finalysis is unique in that the core technology has only been available to the most elite of funds. We leveled the playing field with proprietary machine learning to forecast markets on a subscription basis.</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr class="new">


  <div>
    <br>
    <br>
    <div class="columns">
      <div class="column is-1"></div>
      <div class="column is-4">
        <h3 class="is-size-4"><strong>Better Than Human</strong></h3>
      </div>
      <div class="column"></div>
      <div class="columns is-3">
        <p>People are good at a lot of things, but discovering complex patterns is not one of them. Since 1997, computers have dominated chess. In 2017, a machine beat the world's top GO player. Entering 2023, Finalysis forecasts better than Wall Street analysts</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr class="new">

  <div>
    <br>
    <br>
    <div class="columns">
      <div class="column is-1"></div>
      <div class="column is-4">
        <h3 class="is-size-4"><strong>Next-Level Forecasts</strong></h3>
      </div>
      <div class="column"></div>
      <div class="columns is-3">
        <p>Forget what you know about market forecasts. Designed to push the limits of what was thought possible, Finalysis virtually eliminates directional risk while revealing future volatility. Use it to trade smarter, power automated strategies, or incorporate into your proprietary processes.</p>
      </div>
    </div>
  </div>
  <br>
  <br>



<!-- <p>THIS IS SPACE</p> -->
<div style="background-color: black; color: white;">
  <br>
  <br>
  <br>
  

<div class="columns">
  
  <div class="column is-1"></div>
  <div class="column is-5">
    <h4 class="is-size-3"> Don't Just Take Our Word For It. See It For Yourself</h2>
  </div>
 
  <div class="column is-4">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Input Name">
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div >
        <input class="input " type="email" placeholder="Email input" >


      </div>
      
    </div>
    
    <div class="field">
      <label class="label">Phone</label>
      <div >
        <input class="input" type="text" placeholder="phone number">
        
        

      </div>

    </div>
  
    
    <div class="field">
      <label class="label">Tell us why Finalysis interests you</label>
      <div class="control">
        <textarea class="textarea" placeholder="Type something..."></textarea>
      </div>
    </div>

    
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link is-large" style="background-color: #FF3933; color: #FFF">Submit</button>
      </div>

    </div>
  </div>
  <div class="column"></div>
</div>

<br>
<br>
</div>
  

</div>

{% endblock %}
