{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class=" crop2">
  <img  src="{{ url_for('static', filename='trader.png')}}">
  <div class="top-left">
    <div class="columns is-mobile">
      <div class="column is-narrow"><h1 class="is-size-2">For Trading Desks</h1></div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-7 is-narrow"><p class="is-size-5">Get API access to power your next generation of trading strategies. 
        Pull forecasts into Excel, feed them into Python, and unlock  the full power of Finalysis.</p></div>
    </div>
  </div>
    
    
  


 </div>

  <!-- <p>THIS IS SPACE</p> -->
  <!-- <div class="columns">
    <div class="column is-5">
      <h1 class="is-size-2">For Investors</h1>
      <br>
      <p>
        Examine forecasts inside of Excel, feed Python strategies, and open additional features designed to cut through the noise and reveal what happens next
      </p>
    </div>

  </div>
  <div>
    <img  src="{{ url_for('static', filename='trader.png')}}">
  </div> -->
<!-- <p>THIS IS SPACE</p> -->

<!-- <p>THIS IS SPACE</p> -->
  <div style="background-color: #181414; color: white;">
    <br>
    <br>
    <br>
    

  <div class="columns">
    
    <div class="column is-1"></div>
    <div class="column is-7">
      <h2 class="is-size-6">
        <ul style="list-style-type: circle;">
          <li>Finalysis is an essential companion to portfolio managers</li>
          <li>We provide next-level forecasts for better decision making</li>
          <li>The power behind more-profitable trading strategies</li>
        </ul>
      </h2>
    </div>
    <div class="column"></div>

    <div class="column">
      <br>
      
      <div class="columns is-vcentered">
        
        
        <div class="column"><button  class="button is-link is-medium" style="background-color: #FF3933; color: #FFF">Get Started</button></div>
      </div>
   
      
    </div>
    <div class="column"></div>
  </div>
  <br>
  <br>
  </div>
<!-- <p>THIS IS SPACE</p> --> 
<br>
<br>
<!-- <p>THIS IS SPACE</p> -->
  <div>
    <br>
    <br>
    <div class="columns">
      <div class="column is-1"></div>
      <div class="column is-4">
        <h3 class="is-size-4"><strong>Made for Teams</strong></h3>
      </div>
      <div class="column"></div>
      <div class="columns is-3">
        <p>Finalysis Team Edition is designed specifically for trading desks. Multiple access points ensure everyone from managers to traders to quants have access to forecasts inside of their existing workflow.</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr class="new">


  <div>
    <br>
    <br>
    <div class="columns">
      <div class="column is-1"></div>
      <div class="column is-4">
        <h3 class="is-size-4"><strong>Better Than Human</strong></h3>
      </div>
      <div class="column"></div>
      <div class="columns is-3">
        <p>People are good at a lot of things, but discovering complex patterns is not one of them. Since 1997, computers have dominated chess. In 2017, a machine beat the world's top GO player. Entering 2023, Finalysis forecasts better than Wall Street analysts</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
 



<!-- <p>THIS IS SPACE</p> -->
<div style="background-color: black; color: white;">
  <br>
  <br>
  <br>
  

<div class="columns">
  
  <div class="column is-1"></div>
  <div class="column is-5">
    <h4 class="is-size-3"> Don't Just Take Our Word For It. See It For Yourself</h2>
  </div>
 
  <div class="column is-4">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Input Name">
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div >
        <input class="input " type="email" placeholder="Email input" >


      </div>
      
    </div>
    
    <div class="field">
      <label class="label">Phone</label>
      <div >
        <input class="input" type="text" placeholder="phone number">
        
        

      </div>

    </div>
  
    
    <div class="field">
      <label class="label">Tell us why Finalysis interests you</label>
      <div class="control">
        <textarea class="textarea" placeholder="Type something..."></textarea>
      </div>
    </div>

    
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link is-large" style="background-color: #FF3933; color: #FFF">Submit</button>
      </div>

    </div>
  </div>
  <div class="column"></div>
</div>

<br>
<br>
</div>
  

</div>

{% endblock %}
